





<div class="not-book">

<div class="container page-book">
  <nav class="shelf">


    

 
    <a class="book home-page">Home page</a>
    <a class="book about-us">books</a>
    <a class="book contact">returned</a>
    <a class="book faq">F.A.Q.</a>
    
    <span class="book not-found"></span>
   
    <span class="door left"></span>
    <span class="door right"></span>
  </nav>
  <div class="not-found-container" style="text-align: center; margin-top: 50px;">

  <h1>Error 404</h1>
  <p style="font-size: 1.5rem; color: white;">The page you're looking for can't be found</p>
  <button 
  (click)="redirectToHome()" 
  class="btn btn-primary" 
  style="margin-top: 20px; padding: 10px 20px; font-size: 1rem;">
  Retour à l'accueil
  </button>
</div>
</div>
</div>