
   

   <section class="lattest-product-area pb-40 category-list" 
   
   [class.border-success]="book.shareable"
   [class.border-warning]="book.archived"
   >
        <div class="row" style="padding-right:10px;
            padding-left:10px;">
          <div class="col">
            <div class="single-product border border-secondary-subtle"    
            style="padding: 5px;
         border: 5px solid;width: 20rem;
         border-radius: 5px;">

              <img height="200" [src]="bookCover" class="card-img-top bookCover" alt="...">
              <div class="product-details" style="padding: 5px;">
                <h6>Title: {{book.title}}</h6>
                <h5 class="card-subtitle fs-6 text-secondary mb-1"><i class="fa-solid fa-user-check"></i>&nbsp;Author : {{ book.authorName }}</h5>
                <h6 class="card-subtitle fs-6 text-secondary mb-1"><i class="fas fa-code"></i>&nbsp;Isbn: {{ book.isbn }}</h6>
                <h6 class="card-subtitle fs-6 text-secondary"><i class="fas fa-user"></i>&nbsp;Owner :{{ book.owner }}</h6>
                <hr>
                <p class="card-text">Synopsis : {{book.synopsis}}</p>

                
                <div class="d-flex gap-2">
                  <app-rating [rating]="book.rate || 0"></app-rating>
                  <span class="fw-bold" *ngIf="book.rate || 0 > 0">
                    {{book.rate}}
                  </span>
                </div>

              <div class="prd-bottom" *ngIf="!manage">
                <i (click)="onShowDetails()" class="social-info">
                  <span class="fa-solid fa-circle-exclamation"></span>

                  <p class="hover-text">Consult</p>
                </i>
                <i (click)="onBorrow()" class="social-info">
                  <span class="fas fa-list-check"></span>
                  <p class="hover-text">check</p>
                </i>
                <i (click)="onAddToWaitingList()" class="social-info">
                  <span class="lnr lnr-heart"></span>
                  <p class="hover-text">compare</p>
                </i>



              </div>


                <div class="prd-bottom" *ngIf="manage">


                  <i (click)="onEdit()" class="social-info">
                    <span class="fas fa-edit"></span>
                    <p class="hover-text">edit</p>

                  </i><br>
                  <i (click)="onShare()">
                    <span class="fas fa-share-nodes"></span>
                  </i><br>
                  <i (click)="onArchive()" class="social-info">
                    <span class="fas fa-archive"></span>
                    <p class="hover-text">compare</p>
                  </i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>